
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Create a Custom Postcard!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <h1>Totally Tie-Dyed</h1>
  <form action="/madlib" method="post">
  <label for="pluralNoun1">Enter a plural noun:</label>
  <input id="pluralNoun1" name="pluralNoun1" type="text">
  <label for="celebrity">Enter the name of a celebrity:</label>
  <input id="celebrity" name="celebrity" type="text">
  <label for="articleOfClothing1">Enter an article of clothing:</label>
  <input id="articleOfClothing1" name="articleOfClothing1" type="text">
  <label for="adjective1">Enter an adjective:</label>
  <input id="adjective1" name="adjective1" type="text">
  <label for="noun1">Enter a noun:</label>
  <input id="noun1" name="noun1" type="text">
  <label for="pluralNoun2">Enter a plural noun:</label>
  <input id="pluralNoun2" name="pluralNoun2" type="text">
  <label for="articleOfClothing2">Enter an article of clothing:</label>
  <input id="articleOfClothing2" name="articleOfClothing2" type="text">
  <label for="verb1">Enter a verb:</label>
  <input id="verb1" name="verb1" type="text">
  <label for="pluralNoun3">Enter a plural noun:</label>
  <input id="pluralNoun3" name="pluralNoun3" type="text">
  <label for="typeOfLiquid1">enter a type of liquid:</label>
  <input id="typeOfLiquid1" name="typeOfLiquid1" type="text">
  <label for="adjective2">enter an adjective:</label>
  <input id="adjective2" name="adjective2" type="text">
  <label for="noun2">Enter a noun:</label>
  <input id="noun2" name="noun2" type="text">
  <label for="verb2">Enter a verb:</label>
  <input id="verb2" name="verb2" type="text">
  <label for="adjective3">Enter an adjective:</label>
  <input id="adjective3" name="adjective3" type="text">
  <label for="typeOfLiquid2">Enter a type of liquid:</label>
  <input id="typeOfLiquid2" name="typeOfLiquid2" type="text">
  <label for="noun3">Enter a noun:</label>
  <input id="noun3" name="noun3" type="text">
  <button type="submit">Go!</button>
  </form>
</body>
</html>